@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.0-canary.13/tailwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=Pacifico:i,b,bi|Caveat:i,b,bi|Roboto:i,b,bi&display=swap");

.cursive {
  font-family: "Pacifico";
  font-weight: 700;
}

.prose img {
  margin-left : auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name {
  font-size: 150px;
}

.active {
  color: white;
  background-color:blueviolet;
}